<h1>Aman Dhar</h1>
<p>Los Altos, CA</p>
<p>Junior</p>
<p>I have traveled to over 20 different countries.</p>
<p>I'm excited to learn what all these rails errors mean so I don't always have to spend ages trying to figure them out.</p>